* {
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  background-color: #f7faf9;
  color: #573d2e;
}

.column-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.column {
  display: table-cell; /* Make elements inside the container behave like table cells */
}

.left {
  width: 36%;
  padding-top: 30px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.right {
  width: 64%;
  padding-left: 39px;
}

.title {
  width: 100%;
  color: #573d2e;
  text-align: center;
  vertical-align: middle;
}

.back {
  width: 100%;
  color: #573d2e;
  text-align: center;
  vertical-align: middle;
}

.links {
  color: #84baad;
  text-decoration: none;
}

.about-header {
  color: #ba616e;
}

.about-links {
  color: #84baad;
}

.about-info {
  color: gray;
  font-size: 16px;
}

.writing {
  color: #84baad;
  font-weight: bolder;
}

.mbti-header {
  color: #573d2e;
}

.mbti-info {
  color: #84baad;
  font-weight: bolder;
}

/* Style the footer */
.footer {
  background-color: #f7faf9;
  padding: 10px;
  text-align: center;
}

.image {
  text-align: center;
  width: 96%;
  height: auto;
  vertical-align: top;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 666px) {
  .column {
    display: block;
    width: 100%;
  }
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #f7faf9;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  font-weight: bolder;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  font-weight: bolder;
  text-decoration: underline;
  border: none;
  outline: none;
  color: gray;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: inherit;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7faf9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-weight: bolder;
  color: #84baad;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
