body {
/*    background-color: #cadfff;
    font-family: 'Pontano Sans', sans-serif;
    color: #525765; */
    background-color: #000000;
    color: #011efe;
    font-family: 'VT323', monospace;
/*    text-align: left; */
    margin-left: 15%;
/*    display: inline-block; */
    padding-top: 3%;
}

h1 {
    font-size: xx-large;
}

a {
    color: white;
    target: "_blank";
    style: "text-decoration:none"
}

#content {
    height: 66%;
    font-size: 120%;
}

#gif {
    float: left;
    width: 3%;
    height: 66%;
    padding-right: 6%;
    border: 0;
}

#words {
/*    float: right; */
    overflow-wrap: break-word;
}

#about {
    color: lawngreen;
    style: "text-decoration:none";
}
